@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lato:wght@300&family=Poppins:wght@300;400;500;600&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
#logout{
    text-decoration: none;
}
img{
    width: 50px;
}


.topbar{
    background-color: cornflowerblue;
    min-height: 50px;
    display: flex;
    align-items: flex-start;
}

.baty1{
    flex: 3;
    flex-grow: 3;
    display: flex;
}

.baty2{
    flex: 1;
    flex-shrink: 1;
    display: flex;
}

.baty1 div{
    max-height: 50px;
    padding: 25px;
    background-color: gray;
    margin: 2px;

}

.baty2 div{
    max-height: 100px;
    padding: 25px;
    margin: 2px;
}

.col{
    background-color: rgb(160, 55, 55);
}



.wybuzy{
    display: flex;
    background-color: rgb(57, 57, 63);
}
