body{
    margin: 0;
}
#conter{
    display: flex;
    justify-content: space-between;
}

#lewy{
    width: 100%;
    height: 100%;
    background-color: red;
}

#tyktyk{
    width: 100%;
    height: 100%;
    background-color: green;

}

#prawy{
    height: 100%;
    width: 100%;
    background-color: blue;

}

#prawy img{
    width: 50px;
}

#lewy img{
    max-width: 640px;
    width: 100%;
}